.statistics__element {
}

.statistics__patient-name {
  font-size: 110%;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.statistics__patient-info {
  font-size: 80%;
  margin-bottom: 0.2rem;
  color: #666;
  text-transform: uppercase;
}