html, body {
  padding: 0;
  margin: 0;
  min-width: 320px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 20px;
}

@import 'animations';
@import 'menu';
@import 'page';
@import 'questionnaire';
@import 'card';
@import 'settings';
@import 'statistics';

@media print {
  .no-print {
    display: none !important;
  }
}
